<?xml version="2.0" encoding="UTF-8"?>
<!-- настройка кастомной клавиатуры из одного символа, чтобы видеть переключение языка в том числе и в ВАРМАе, файл положить в ~/Library/Application\ Support/com.apple.AssistiveControl/dwellControlUserPanels1.ascconfig/Contents/Resources/PanelDefinitions.plist . Затем в меню языка выбрать Show Keyboard Viewer -> ... -> Custom Panels -> Keyboard ANSI   А этот комментарий можно стереть -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Panels</key>
	<dict>
		<key>USER.FC025A7D-152C-47AD-9859-80596564E582</key>
		<dict>
			<key>DisplayOrder</key>
			<integer>1</integer>
			<key>GlidingLensSize</key>
			<integer>5</integer>
			<key>HasTransientPosition</key>
			<false/>
			<key>HideHome</key>
			<false/>
			<key>HideMinimize</key>
			<false/>
			<key>HidePanelAdjustments</key>
			<true/>
			<key>HideSwitchDock</key>
			<false/>
			<key>HideSwitchDockContextualButtons</key>
			<false/>
			<key>HideTitlebar</key>
			<true/>
			<key>ID</key>
			<string>USER.FC025A7D-152C-47AD-9859-80596564E582</string>
			<key>KeyboardHWID</key>
			<integer>43</integer>
			<key>KeyboardPhysicalType</key>
			<string>ANSI</string>
			<key>Name</key>
			<string>Keyboard - ANSI</string>
			<key>PanelObjects</key>
			<array>
				<dict>
					<key>ID</key>
					<string>Group.0C27F5A7-14FB-40A1-BFF2-68DFACA57F28</string>
					<key>PanelObjectType</key>
					<string>Group</string>
					<key>PanelObjects</key>
					<array>
						<dict>
							<key>ID</key>
							<string>Group.6D2D7F43-E610-4021-AE34-BB0428836CDA</string>
							<key>PanelObjectType</key>
							<string>Group</string>
							<key>PanelObjects</key>
							<array>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>ActionParam</key>
											<dict>
												<key>Events</key>
												<array>
													<dict>
														<key>ActionParam</key>
														<dict>
															<key>KeyboardHWID</key>
															<integer>43</integer>
															<key>USBKeyCode</key>
															<integer>22</integer>
															<key>UsesMacKeyCode</key>
															<false/>
															<key>shouldNotLockModifier</key>
															<false/>
														</dict>
														<key>ActionRecordedOffset</key>
														<real>0.0</real>
														<key>ActionType</key>
														<string>ActionPressKeyCode</string>
														<key>ID</key>
														<string>Action.48B5536C-0D71-4E40-8819-4BEEC830881B</string>
													</dict>
												</array>
												<key>isStickyKey</key>
												<false/>
											</dict>
											<key>ActionRecordedOffset</key>
											<real>0.0</real>
											<key>ActionType</key>
											<string>ActionPerformKeyMacro</string>
											<key>ID</key>
											<string>Action.FCE4DF75-17AA-4A4A-8F2A-00A84B001852</string>
										</dict>
									</array>
									<key>ButtonType</key>
									<integer>0</integer>
									<key>DisplayImageResourceIsTemplate</key>
									<false/>
									<key>DisplayImageWeight</key>
									<string>FontWeightRegular</string>
									<key>FontSize</key>
									<real>22</real>
									<key>ID</key>
									<string>Button.4DE5A6AE-94FF-44FF-81B5-43FD2BC33BB1</string>
									<key>PanelObjectType</key>
									<string>Button</string>
									<key>Rect</key>
									<string>{{0, 0}, {42.076124567474054, 35}}</string>
								</dict>
							</array>
							<key>Rect</key>
							<string>{{0, 0}, {42.076124567474054, 35}}</string>
						</dict>
					</array>
					<key>Rect</key>
					<string>{{0, 0}, {42.076124567474054, 35}}</string>
				</dict>
			</array>
			<key>ProductSupportType</key>
			<string>VirtualKeyboard</string>
			<key>Rect</key>
			<string>{{70, 127}, {43, 35}}</string>
			<key>ScanStyle</key>
			<integer>0</integer>
			<key>ShowPanelLocationString</key>
			<string>CustomPanelList</string>
			<key>UsesPinnedResizing</key>
			<false/>
		</dict>
	</dict>
	<key>ToolbarOrdering</key>
	<dict>
		<key>ToolbarIdentifiersAfterBasePanel</key>
		<array/>
		<key>ToolbarIdentifiersPriorToBasePanel</key>
		<array>
			<string>ACSH.systemPanel.dynamic.bestDwellActions</string>
			<string>ACSH.systemPanel.dynamic.hoverText</string>
			<string>ACSH.systemPanel.dynamic.bestSuggestions</string>
			<string>ACSH.systemPanel.dynamic.bestFunctionKeys</string>
		</array>
	</dict>
</dict>
</plist>
